<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <!-- style css -->
    <link rel="stylesheet" href="style.css">

    <!-- font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</head>
<body>




            
    <div class="container">
        <div class="back_top"></div>

        <!--  -->
        <div class="center_app">
            <div id="app">


                <!-- sidebar dedicata a: 'mio profilo' e contatti -->
                <div class="sidebar">
                    <!-- my profile -->
                    <div id="my_profile">

                        <div class="card_left_info" v-for="info in myProfile">
                            <div class="avatar">
                                <img :src="info.avatar" alt="profile photo">
                            </div>
                            <div class="name">{{info.name}}</div>
                        </div>
                        <!-- right profile icons -->
                        <div class="right_action">
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>


                        <!-- contacts area -->
                    <div class="contacts_overflow">

                        <div class="contacts" v-for="(contact, index) in contacts" :key="index">
                            <div class="card" @click="courrentChat(index)">
                                <div class="card_left_info">
                                    <div class="avatar">
                                        <img :src="contact.avatar" alt="profile photo">
                                    </div>
                                    <div class="name">{{contact.name}}</div>
                                </div>
                            </div>
                        
                        </div>
                    </div>



                </div>


                <div class="conversation">

                    <div class="messages" v-for="(contact, index) in contacts" :key="index" v-show="index === visualMessage">
                        
                        <div  v-for="message in contact.messages" >


                            <!-- metto a destra i messaggi inviati -->
                            <div class="to_flex_right" :class="{'to_flex_right' : message.status === 'sent'}">

                                <!-- display dei messaggi inviati -->

                                <div class="sent_messages" v-if="message.status === 'sent'" :class="{'sent-message': message.status === 'sent'}">{{message.message}} 
                                    <div>{{message.date}}</div>


                                </div>
                            </div>
                            <!-- display dei messaggi ricevuti-->

                            <div class="received_messages" v-if="message.status === 'received'" :class="{'received-message' : message.status === 'received'}">    {{message.message}} 

                              <div>{{message.date}}</div>

                            </div>
                          
                          

                          



                            

                        

                        
                        </div>
                        <div id="send_new_message">
<!-- 
                            <div id="text_area" contenteditable="true" v-model="newMessage" placeholder="Type your message">


                            </div> -->
                            <input type="text" v-model="newMessage" placeholder="Type your message">

                            <button @click="sendMessage">Invia</button>
                        </div>
                    </div>

                    

                    

                    

                </div>
                

            
            </div>
        </div>


        <div class="back_bottom"></div>
    </div>










    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>