* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100dvh;
    position: relative;
    overflow: hidden;
}

.back_top {
    height: 4rem;
    background-color: #009688;
}

.back_bottom {
    height: calc(100% - 4rem);
    background-color: #d8dbd5;
}


.center_app {
    height: 90dvh;
    width: 85%;

    position: absolute;
    top: 30px;
    right: calc(15% / 2);
}
#app {
    height: 100%;
    display: flex;
}


.sidebar {
    width: 30%;
    height: 100%;
    background-color: white;
}

.conversation {
    width: 70%;
    min-height: 100%;
    background-color: aqua;
    display: flex;
    align-items: end;
}


#my_profile {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    justify-content: space-between;
    overflow: hidden;
    padding: .5rem 0;

}

.avatar {
    width: 50px;
    height:50px;
    object-fit: contain;
    margin: 0 10px;

}
.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.card_left_info {
    display: flex;
    align-items: center;
}

.right_action * {
    margin: 0 10px;
    color: rgb(152, 152, 152);
}

.contacts_overflow {
    height: 100%;
    overflow: auto;
}

.card {
    height: 4rem;
    background-color: white;
    border-top: 1px solid rgb(201, 201, 201);

    display: flex;
    align-items: center;
}
.card:hover {
    background-color: rgb(241, 241, 241);
}



.messages {
    width: 100%;
}
.sent-message {
    width: fit-content;
    background-color: #d5f9ba;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: right;
}

.received-message {
    width: fit-content;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.to_flex_right {
    display: flex;
    justify-content: end;
}

#send_new_message {
    display: flex;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

#text_area {
    background-color: white;
    width: calc(100% - 100px);
    height: 3rem;
    line-height: 3rem;
    margin: 10px 5px;
    flex-grow: 1;
}

#messages-container {
    width: 100%;
    max-height: 90dvh;
    overflow: auto; 
    scroll-behavior: smooth;
}

.contact_info {
    height: 5rem;
    width: 59.5%;
    background-color: gray;
    border-left: 1px solid rgb(82, 82, 82);
    position: fixed;
    top: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
}